<style>
	.footer {
		display: none;
	}
</style>

<br><br>

<div class="card w-50 m-auto ">
	<br>
	{{#if alertData}}
	{{{alertData}}}
	{{/if}}
	<form class="p-5 " method="post" action="/api/login">
		<div class="mb-3">
			<label for="exampleInputEmail1" class="form-label">Email</label>
			<input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

		</div>
		<div class="mb-3">
			<label for="exampleInputPassword1" class="form-label">Parol</label>
			<input type="password" name="password" class="form-control" id="exampleInputPassword1">
		</div>

		<button type="submit" class="btn btn-primary">Kirish</button>
		<br><br>
		<a href="/register"> Ro'yxatdan o'tish</a>
	</form>
</div>