<link rel="stylesheet" href="style.css">
<br><br><br>
<div class="container bootstrap snippets bootdey ">
	<div class="col-md-8 ">
		<div class="box box-widget">
			<div class="box-body" style="display: block;">
				<img class="img-responsive pad" src="./uploads/{{oneDiary.file_name}}" alt="Photo" width="600px">
				<h1>{{oneDiary.diary_name}} </h1>
				<p>{{{oneDiary.diary_desc}}} </p>
			</div>
		</div>
	</div>
</div>